$iconnav-margin-horizontal: $global-small-margin !default;
$iconnav-margin-vertical: $iconnav-margin-horizontal !default;
$iconnav-item-color: $global-muted-color !default;
$iconnav-item-hover-color: $global-color !default;
$iconnav-item-active-color: $global-color !default;

.uk-iconnav {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: (-$iconnav-margin-horizontal);
}

.uk-iconnav > * {
    padding-left: $iconnav-margin-horizontal;
}

.uk-iconnav > * > a {
    display: block;
    color: $iconnav-item-color;
}

.uk-iconnav > * > a:hover,
.uk-iconnav > * > a:focus {
    color: $iconnav-item-hover-color;
    outline: none;
}

.uk-iconnav > .uk-active > a {
    color: $iconnav-item-active-color;
}

.uk-iconnav-vertical {
    flex-direction: column;
    margin-left: 0;
    margin-top: (-$iconnav-margin-vertical);
}

.uk-iconnav-vertical > * {
    padding-left: 0;
    padding-top: $iconnav-margin-vertical;
}
